---
title: Immedia
date: 2015/01/01
category: labs
tags: Adobe Air
---

Scribe collects audio from a mobile device and schedules workers to perform captioning on small audio segments.
The distributed captions are then merged into a single text, returning a consolidated transcript to the mobile user.


<!-- this string indicates where the article sohuld be cut -->
READMORE


We worked with
<span class="label label-success"><%= link_to "Adobe Air", tag_path("Adobe Air") %></span>.
