---
title: Creating open source software for robots on mobile
date: 2015/01/01 00:00:01
category: projects
tags: ros, android, android ndk, java, cpp
line: C
---

We joined forces with <a href="https://www.qualcomm.com" target="_blank">Qualcomm</a>, the global semiconductor company, and the 
<a href="http://www.osrfoundation.org" target="_blank">Open Source Robotics Foundation</a> to support the development, distribution, 
and adoption of open source robotics software on mobile platforms by contributing 
to the <%= tag_link "ROS on Android" %> effort.
<!-- this string indicates where the article sohuld be cut -->
READMORE
Thus, offering <%= tag_link "ROS" %> to the in new, high-end embedded platforms.

Ekumen’s team’s work has earned them a place at <a href="http://roscon.ros.org/2015/" target="_blank">2015’s ROSCon</a> in Hamburg, Germany, 
to talk about their ROS Android_ndk achievements.

