---
title: Enabling Robotics in ARM-based Mobile Devices
date: 2015/01/01 00:00:01
category: projects
tags: ROS, ROS on Android
line: C
---

With the sponsorship from <a href="https://www.qualcomm.com" target="_blank">Qualcomm</a> and leadership of
<a href="http://www.osrfoundation.org" target="_blank">Open Source Robotics Foundation</a>, Ekumen is working
to support the development, distribution, and adoption of open source robotics software on mobile platforms by contributing
to the <%= tag_link "ROS on Android" %> effort.

<!-- this string indicates where the article sohuld be cut -->
READMORE

Ekumen's engineers are working to make it easier to cross-compile native <%= tag_link "ROS" %>
packages for ARM processors like the high-end Qualcomm <a href="https://www.qualcomm.com/products/snapdragon">Snapdragon</a>
as well as using them as part of regular Android applications. As a result, a very broad set of robotics
capabilities are being made available to the large community of Android developers and device owners.

Contributions to the project include minute review of ROS packages to make them compatible with the <%= tag_link "Android NDK" %>
target, improvements to scripts and <a href="http://wiki.ros.org/android_ndk/Tutorials">tutorials</a> to perform the cross-compilation,
contributions to <a href="http://wiki.ros.org/rosjava">rosjava</a> to make it easier to include cross-compiled native
packages in Android applications and some key ROS component additions that were not yet available for the Android platform.

Ekumen’s team work has earned a place at <a href="http://roscon.ros.org/2015/" target="_blank">ROSCon 2015</a> in Hamburg, Germany,
where we will be talking about our ROS Android NDK contributions.
