---
title: Crowdsourcing for Real-Time Economic Indicators
date: 2015/01/01 00:00:10
category: projects
tags: android, elasticsearch, javascript, ruby, angular.js
line: D
---

<a href="http://www.premise.com" target="_blank">Premise</a> gathers and analyzes millions of observations captured daily by a
global network of contributors. By running machine-learning algorithms and
leveraging on their data scientist expertise, they are able able to distill
economic indicators and trends much faster (sometimes weeks before) than
the conventional agencies.

<!-- this string indicates where the article sohuld be cut -->
READMORE

At Ekumen we helped them developing their first mobile application prototype
on Android, used to gather product price observations in the field. On the
web side we worked closely with their team to evolve and maintain an ecosystem
of <%= tag_link "ruby" %> applications used for data gathering and visualization as
well as team management. We also help them to develop internal tools for data
analysis and visualization using  <%= tag_link "elasticsearch" %>, Scala and
<%= tag_link "angular.js" %>.
