---
title: Monitoring price changes around the world
date: 2015/01/01 00:00:10
category: projects
tags: Android, Android Services, Google Places API
---

Pricespot is the mobile application used to gather consumer prices and product
data for [premise](http://www.premise.com), a company devoted to track
macroeconomic and human trends in real time.


<!-- this string indicates where the article sohuld be cut -->
READMORE


We improved the
<span class="label label-info"><%= link_to "Android", tag_path("Android") %></span>
mobile application design with the use of
<span class="label label-info"><%= link_to "Android Services", tag_path("Android Services") %></span> for data upload, enhanced UI interaction and integrated it
with <span class="label label-info"><%= link_to "Google Places API", tag_path("Google Places API") %></span> for better
location support.
