---
title: Porting ROS to Android devices
date: 2015/01/01 00:00:02
category: projects
tags: Android, ROS internals, Java, Android NDK
---

The aim of this project is to develop an autonomous robot system using
[ROS](http://wiki.ros.org) that executes entirely on an Android device.


We contributed to [ROS Java](http://wiki.ros.org/rosjava) by implementing a
[base controller](https://github.com/creativa77/base_controller) from scratch,
extend it to use the multiple radios instead of just WiFi and added the ability
to create externally reachable masters in an
<span class="label label-success"><%= link_to "Android", tag_path("Android") %></span>
device.


<!-- this string indicates where the article sohuld be cut -->
READMORE


We are also diving into
<span class="label label-success"><%= link_to "ROS internals", tag_path("ROS internals") %></span> to isolate the minimum
required modules for a robot to navigate autonomously. Depending on the situation
we are re-implementing core functionality in
<span class="label label-success"><%= link_to "Java", tag_path("Java") %></span> or compiling existing sources
with <span class="label label-success"><%= link_to "Android NDK", tag_path("Android NDK") %></span>.
