---
title: Web 3D ROS Visualisation
date: 2015/01/01 00:00:01
category: projects
tags:  ros, robot web tools, javascript, ruby
line: C
---

We assisted <a href="http://opensource-robotics.tokyo.jp/?lang=en">TORK</a> to bring online a 3D
<%= tag_link "ROS" %> visualisation application that uses
sensor data and allows to manipulate the model from the client.

For this application we created a <%= tag_link "Ruby on Rails" %>
application for managing users and balancing Amazon EC2
instances based on the required simulation load.
