---
title: Web 3D ROS visualisation
date: 2015/01/01 00:00:01
category: projects
tags:  ros, robot web tools, javascript, ruby
line: C
---

The <a href="http://opensource-robotics.tokyo.jp/?lang=en" target="_blank">Tokyo Opensource Robotics Kyokai Association</a> is dedicated to the public benefit by integrating 
the robotics technology into the social infrastructure and developing and supporting 
<%= tag_link "OSR" %> (opensource software in robotics) solution.


<!-- this string indicates where the article sohuld be cut -->
READMORE

We joined TORK to help them bring online a 3D <%= tag_link "ROS" %> visualisation application that uses 
sensor data and allows to manipulate the model from the client. For this application 
we created a <%= tag_link "Ruby on Rails" %> application for managing users and balancing Amazon EC2 
instances based on the required simulation load.





