---
title: Interfacing with robots, in concert
date: 2015/01/01 00:00:01
category: projects
tags: Python, Multi Robot, Web interface, Meteor, Robot Web Tools
line: C
---

Ekumen assisted <a href="http://en.yujinrobot.com" target="_blank">Yujin Robots</a> in extending
the capabilities of the very ambitious <a href="http://www.robotconcert.org/" target="_black">Robotics in Concert</a>
project with a high-level authoring interface and the ability to access robotics capabilities from the Internet.

<!-- this string indicates where the article sohuld be cut -->
READMORE

On an initial engagement, Ekumen used its expertise on large-scale software projects to assist in
the initial stages of the development of a social-based authoring interface for <%= tag_link "multi robot" %> systems.
An initial state-of-the art <%= tag_link "Web interface" %> was architected and prototyped using <%= tag_link "Meteor" %>, after which
Yujin's team took over the development of the project with the guidance of Ekumen's experts.

Later, Ekumen took the lead to implement a proxy-based mechanism based on rosbridge and <%= tag_link "Robot Web Tools" %>
to allow ROS clients in the Internet to connect to ROS and <a href="http://www.robotconcert.org/" target="_black">ROCON</a>
systems which are running behind firewalls without the need for port-forwarding.
Additional prototyped features included the ability to proxy HTTP video streams, managing connections to
multiple concerts and basic security with password-based authentication and role-based authorization.
