@import "_variables";
@import "bootstrap/variables";

.container.main {
  min-height: calc(90vh - #{$navbar-height} - 1px);
}

.home-header {
  position: relative;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: auto;
}

.scroll-down, .scroll-down:hover, .scroll-down:active, .scroll-down:visited {
  display: block;
  position: absolute;
  bottom: -35px;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: 1px solid $gray;
  background: #fff;
  left: 50%;
  margin-left: -35px;
  line-height: 65px;
  color: $purple;
  text-align: center;
  font-size: 60px;
  box-shadow: 0px 2px 4px $black-light;
  transition: line-height 180ms ease;

  &:hover {
    line-height: 70px;
  }
}

.carousel-indicators {
  // This width is only used in devices < 768px
  width: 100%;

  // Small devices (tablets, 768px and up)
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  // Medium devices (desktops, 992px and up)
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  // Large devices (large desktops, 1200px and up)
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  left: 50%;
  right: auto;
  margin: 0;
  transform: translateX(-50%);
  padding: $padding-large-vertical $grid-gutter-width / 2;
  text-align: left;
  bottom: 0;
}

.carousel-caption {
  // This width is only used in devices < 768px
  width: 100%;

  // Small devices (tablets, 768px and up)
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  // Medium devices (desktops, 992px and up)
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  // Large devices (large desktops, 1200px and up)
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  left: 50%;
  right: auto;
  transform: translateX(-50%);
  padding: 0 $grid-gutter-width / 2;
  text-align: left;
  color: $white;

  h3 {
    color: $white;
    font-size: 3em;

    @media (max-width: $screen-sm-min) {
      font-size: 1em;
      font-size: 5vw;
    }
  }

  p {
    margin-top: 0.3em;
    font-size: 1.5em;
    @media (max-width: $screen-sm-min) {
      font-size: 0.8em;
      font-size: 3vw;
    }
  }
}

.work {
  padding: 40px 0;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $screen-lg-min) {
    .work-item {
      background-size: auto 134px;
      background-repeat: no-repeat;
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .work-item:nth-child(even) {
      text-align: left;
      background-position: center right;
      padding-right: 300px;
    }

    .work-item:nth-child(odd) {
      text-align: right;
      background-position: center left;
      padding-left: 300px;
    }

    .work-item:nth-child(1) {
      background-image: linear-gradient(90deg, transparent 0, white 300px), image-url("earth.jpg");
    }

    .work-item:nth-child(2) {
      background-image: linear-gradient(-90deg,  transparent 0, white 300px), image-url("keyboard.jpg");
    }

    .work-item:nth-child(3) {
      background-image: linear-gradient(90deg, transparent 0, white 300px), image-url("tablet.jpg");
    }

    .work-item:nth-child(4) {
      background-image: linear-gradient(-90deg, transparent 0, white 300px), image-url("webrobotics.jpg");
    }

    .work-item:nth-child(5) {
      background-image: linear-gradient(90deg, transparent 0, white 300px), image-url("earth.jpg");
    }

    .work-item:nth-child(6) {
      background-image: linear-gradient(-90deg,  transparent 0, white 300px), image-url("keyboard.jpg");
    }
  }
}


.clients {
  background: $gray;
  line-height: 100px;
  text-align: center;
  margin-bottom: -2em;

  .heading {
    text-align: center;
    margin: 0;
    line-height: 60px;
  }
  img {
    max-height: 40px;
    max-width: 80%;
  }
}
