@import "_variables";
@import "bootstrap/variables";

.container.main {
  min-height: calc(90vh - #{$navbar-height});
}

.home-header {
  position: relative;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: auto;
}

.scroll-down, .scroll-down:hover, .scroll-down:active, .scroll-down:visited {
  display: block;
  position: absolute;
  bottom: -35px;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  border: 1px solid $gray;
  background: #fff;
  left: 50%;
  margin-left: -35px;
  line-height: 65px;
  color: $purple;
  text-align: center;
  font-size: 60px;
  box-shadow: 0px 2px 4px $black-light;
  transition: line-height 180ms ease;

  &:hover {
    line-height: 70px;
  }
}

.carousel-indicators {
  // This width is only used in devices < 768px
  width: 100%;

  // Small devices (tablets, 768px and up)
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  // Medium devices (desktops, 992px and up)
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  // Large devices (large desktops, 1200px and up)
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  left: 50%;
  right: auto;
  margin: 0;
  transform: translateX(-50%);
  padding: $padding-large-vertical $grid-gutter-width / 2;
  text-align: left;
  bottom: 0;
}

.carousel-caption {
  // This width is only used in devices < 768px
  width: 100%;

  // Small devices (tablets, 768px and up)
  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  // Medium devices (desktops, 992px and up)
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  // Large devices (large desktops, 1200px and up)
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  left: 50%;
  right: auto;
  transform: translateX(-50%);
  padding: 0 $grid-gutter-width / 2;
  text-align: left;
  color: $white;

  h3 {
    color: $white;
    font-size: 3em;

    @media (max-width: $screen-sm-min) {
      font-size: 1em;
      font-size: 5vw;
    }
  }

  p {
    margin-top: 0.3em;
    font-size: 1.5em;
    @media (max-width: $screen-sm-min) {
      font-size: 0.8em;
      font-size: 3vw;
    }
  }
}

.work {
  padding: 40px 0;
  margin-bottom: 30px;
  text-align: center;

  .work-panel, .work-panel:active, .work-panel:visited, .work-panel:hover {
    position: relative;
    display: block;
    box-shadow: 0px 2px 8px -2px $black;
    background: $gray no-repeat center center;
    background-size: cover;
    border-radius: 3px;
    margin-top: 20px;
    min-height: 350px;
    text-decoration: none;

    .heading {
      color: $white;
      box-sizing: content-box;
      padding: 220px 20px 20px 20px;
      position: relative;
      word-break: break-word;
      z-index: 2;
      text-align: center;
      text-shadow: 2px 2px 1px  $black;
    }

    &:before {
      position: absolute;
      opacity: 0.3;
      content: '';
      background: linear-gradient(120deg, $purple-light, transparent),
      linear-gradient(180deg,transparent, black);
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      transition: opacity 500ms;
    }

    &:hover::before {
      opacity: 0.1;
    }

  }

  .work-panel.work-real-time {
    background-image: image-url("earth2.jpg");
  }

  .work-panel.work-simple {
    background-image: image-url("phone.jpg");
  }

  .work-panel.work-robotics {
    background-image: image-url("robotics.jpg");
    background-position: right;
  }

  .work-panel.work-android {
    background-image: image-url("drone.jpg");
    background-position: top right;
  }

  .area {
    width: 90%;
    display: none;
    background-color: $gray;
    border-radius: 0.125em;
    box-shadow: 0em 0.125em 0.313em $black-light;
    margin-top: 1.875em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -0.750em;

    .detail-bg-robotics {
      background: url('/images/robotics.jpg');
      background-size: cover;
      background-position: center;
      height: 20em;
    }

    .detail-bg-web {
      background: url('/images/earth2.jpg');
      background-size: cover;
      background-position: center;
      height: 20em;
    }

    .detail-bg-embedded {
      background: url('/images/drone.jpg');
      background-size: cover;
      background-position: 0 60%;
      height: 20em;
    }

    .detail-bg-user {
      background: url('/images/phone.jpg');
      background-size: cover;
      background-position: 0 18%;
      height: 20em;
    }

    .close {
      float: none;
      display: block;
      position: relative;
      opacity: 1;
      width: 1.9em;
      height: 1.9em;
      top:-2.25em;
      margin-bottom: 0em;
      border-radius: 20%;
      border: 0.05em solid $gray;
      background: #fff;
      line-height: 1.7em;
      color: $purple;
      text-align: center;
      font-size: 22px;
      box-shadow: 0em 0.1em 0.2em $black-light;
      transition: line-height 180ms ease;
      &:hover {
        line-height: 1.9em;
      }
      cursor:pointer;

      // Extra Small devices (< 768px)
      @media (max-width: $screen-xs-max) {
        margin-right: 0em;
      }

      // Small devices (tablets, 768px and up)
      @media (min-width: $screen-sm-min) {
        margin-right: 0em;
      }

     // Medium devices (desktops, 992px and up)
      @media (min-width: $screen-md-min) {
        margin-right: 1em;
      }
 
      // Large devices (large desktops, 1200px and up)
      @media (min-width: $screen-lg-min) {
        margin-right: -1.2em;
      }
    }

    h1 {
      position: relative; 
      color: $purple;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.4em;
      z-index: 1;
    }

    #crop {
      possition: relative;
      max-width: 64.5em;
      max-height: 21em;
      border-radius: 0.188em;
      overflow: hidden;
      box-shadow: 0em 125em 0.313em $black;


      // Large devices (large desktops, 1200px and up)
      @media (min-width: $screen-lg-min) {
        margin-right: auto;
        margin-left: auto;
      }
    }

    img, img:hover {

    	width: 100%;
    max-width: 64.5em;
    margin-top: -15%;
    position: relative; 
    display: block;
    vertical-align: middle;
    }

    p.content {
      color: $black;
      text-indent: 1.25em;
      text-align: justify;

    // Extra Small devices (< 768px)
      @media (max-width: $screen-xs-max) {	
          margin-left: 1em;
          margin-right: 1em;
        }

    // Small devices (tablets, 768px and up)
      @media (min-width: $screen-sm-min) {
          margin-left: 1em;
          margin-right: 0em;
      }

      // Medium devices (desktops, 992px and up)
      @media (min-width: $screen-md-min) {
          margin-left: 2.25em;
          margin-right: 0em;
          }

      // Large devices (large desktops, 1200px and up)
      @media (min-width: $screen-lg-min) {
          margin-left: 4.5em;
          margin-right: 1em;
     }

    }

    a {
      background-color: #49A9DE;
    }

    .tags {
      margin-top: 1.75em;
      // padding: 32px 20px 20px 20px;

      // Extra Small devices (< 768px)
      @media (max-width: $screen-xs-max) {
          margin-right: 1em;
          height: 2.5em;
      }

      // Small devices (tablets, 768px and up)
      @media (min-width: $screen-sm-min) {
          margin-right: 1em;
      }

      // Medium devices (desktops, 992px and up)
      @media (min-width: $screen-md-min) {
          margin-right: 2.25em;
      }

      // Large devices (large desktops, 1200px and up)
      @media (min-width: $screen-lg-min) {
          margin-right: 4.5em;
      }
    }

    .label {
      margin: 0.2em;
      float: right;
      clear: right;

      // Extra Small devices (< 768px)
      @media (max-width: $screen-xs-max) {
          clear: none;
      }
    }
  }
}

.clients {
  background: $gray;
  line-height: 100px;
  text-align: center;
  margin-bottom: -2em;

  .heading {
    text-align: center;
    margin: 0;
    line-height: 60px;
  }
  img {
    max-height: 40px;
    max-width: 80%;
  }
}
