.projects {
  .affix {
    top: 0;
  }

  .affix-bottom {
    position: absolute;
  }

  .projects-sidebar {
    .active > a {
      font-weight: bold;
    }

    .nav {
      width: $grid-gutter-width * 8;
    }
  }
}
