@import "_variables";
@import "bootstrap/variables";

.team .content {
  .person-container {
    margin: $grid-gutter-width 0;

    .person-name {
      margin-top: $grid-gutter-width/4;
    }

    .person-bio {
      font-size: 14px;
      word-break: break-word;
    }

    .person-picture {
      margin-right: $grid-gutter-width;
      width: 200px;
    }
  }
}
