<%   wrap_layout :layout do %>
  <div class="content container">
    <div class="row">
      <div class="col-md-6">
        <%= yield %>
      </div>
      <div class="col-md-6">
        <div class="contactInfo">
          <h1>Let's get in touch</h1>
          <address>
            <a href="mailto:contact@ekumenlabs.com">contact@ekumenlabs.com</a> |
            +1 (408) 757-0064<br />
          </address>
          <p>
          While some of the Ekumen engineers work distributed from different
          parts of the world, our lab headquarters are located in Buenos Aires, Argentina:
          </p>
          <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
          <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
          <div id="ekumenOfficeMap"></div>
          <br />
           <address>
            Concepción Arenal 3425 2-35<br />
            Ciudad Autónoma de Buenos Aires, C1427EKA<br />
            Phone: +54 (11) 5219-0895<br />
          </address>
       </div>
      </div>
    </div>
  </div>
<% end %>
