---
  date: 20/10/2014
---

<%= image_tag("team/alexis-thumbnail.jpg", :alt => "alexis",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Alexis Pojomovsky</h3>

  <div class="person-links">
    <a href="https://py.linkedin.com/pub/alexis-pojomovsky/55/953/57b" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="http://www.github.com/apojomovsky" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Alexis is about to get his degree in Electrical Engineering from the 
      National University of Asuncion. He describes himself as constantly 
      learning with an endless curiosty.
    </p>
    <p>
       Although his main interest lies in the robotics field, in his spare
       time he enjoys taking pictures and playing the guitar.
    </p>
  </div>
</div>
