---
  date: 01/01/1984
---

<%= image_tag("team/ashi.jpg", :alt => "Ayelén",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Ayelén Chávez</h3>

  <div class="person-links">
    <i class="fa fa-linkedin-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-github-square"></i>
  </div>

  <div class="person-bio">
    <p>Julian is the founder of Creativa 77. Throughout his 15+ years of experience he has led many challenging, first-of-their-kind software projects to successful completion.</p>

    <p>Despite being a successful manager and businessman, Julian's true passion lies is software development and working with technology in general. In his free time, he likes rollerblading, longboarding, biking and working on side projects such as scratch-building R/C airplanes, quadcopters, 3D printers, and HTPCs.</p>
  </div>
</div>
