---
  date: 01/06/2014
---

<%= image_tag("team/ashi-thumbnail.jpg", :alt => "Ayelén",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Ayelén Chávez</h3>

  <div class="person-links">
    <a href="http://www.linkedin.com/in/ayelenchavez" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://twitter.com/c0d1ngb4d" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="http://www.facebook.com/ashy.on.line" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a href="http://www.github.com/ashyonline" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Ayelen has a master in Computer Science from the University of Buenos
      Aires. She's passionate about software developing and has tons of
      experience with different technologies and paradigms.
    </p>

    <p>
      Always willing to learn, proactive, detail-oriented, well organized with
      strong technical aptitude.
    </p>

    <p>
      During her free time she likes cooking, dancing, reading and watching
      movies.
    </p>
  </div>
</div>
