---
  date: 10/10/2014
---

<%= image_tag("team/ernest-thumbnail.jpg", :alt => "Ernesto",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Ernesto Corbellini</h3>

  <div class="person-links">
    <a href="http://ar.linkedin.com/in/ecorbellini" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://github.com/ernestmc" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Ernesto is completing his Master's Thesis in Electronics Engineering at the
      University of Buenos Aires. He is also a teaching assistant in the course 
      "Introduction to Electronics Engineering" where he teaches basic electronics
       to freshmen.
    </p>

    <p>
      He believes that engineering is the fusion of science and art. Ernesto's 
      interests range from embedded systems and data communication networks to robotics.
    </p>
    <p>
      In his free time he enjoys building robots and taking pictures.
    </p>
  </div>
</div>
