---
  date: 01/11/2014
---

<%= image_tag("team/fer-thumbnail.jpg", :alt => "Fernando",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Fernando Kopelman</h3>

  <div class="person-links">
    <a href="http://www.github.com/GecoFernando" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
    <a href="http://www.facebook.com/http://geco.tumblr.com/" target="_blank">
      <i class="fa fa-tumblr-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Fernando is an Animation Artist and has worked in films, animation and
      theater in Argentina, Mexico and Israel. At the moment he's also applying
      his multitasking and problem-solving skills to the managing of the
      office-related affairs.
    </p>
    <p>
      He's passionate about learning new things in many different fields and he
      enjoys challenges and finding new different environments to work in. 
    </p>
    <p>
      He also loves cooking, swimming, listening to music and traveling.
    </p>
  </div>
</div>
