---
  date: 02/01/2012
---

<%= image_tag("team/gui-thumbnail.jpg", :alt => "Guillermo",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Guillermo Manzato</h3>

  <div class="person-links">
    <a href="http://www.linkedin.com/in/manzato" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://twitter.com/guimanzato" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="http://www.facebook.com/manzato" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a href="http://www.github.com/manzato" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Guillermo ( Gui ) is a partner of Ekumen, with extensive experience
      ( 15+ years ) in different IT projects, development and management.
    </p>

    <p>
      He is passionate about software development, from 8 bit microcontrollers
      to web applications, and technology in general.
    </p>

    <p>
      In his free time, besides programming, he likes playing soccer, hiking and
      woodworking.
    </p>
  </div>
</div>
