---
  date: 01/10/2014
---

<%= image_tag("team/javi-thumbnail.jpg", :alt => "Javier",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Javier Choclin</h3>

  <div class="person-links">
    <a href="http://www.github.com/" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Javier is completing his final year of his Masters of Science Degree
      in Electrical Engineering at the University of Buenos Aires. He works
      with embedded systems, Gazebo, ROS and control algorithms. 
    </p>
    <p>
      Javier's specialty is drones. He has been working with them for almost
      three years building, programming and simulating drones for specific applications.
    </p>
    <p>
He is very fond of mobile and industrial robots, 3D printing, Open Source Software and Hardware.
   </p>
  
  </div>
</div>
