---
  date: 01/10/2014
---

<%= image_tag("team/ivan-thumbnail.jpg", :alt => "Javier",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Javier Choclin</h3>

  <div class="person-links">
    <a href="http://www.github.com/basicNew" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Andrés is a passionate developer who got his CS degree on 2005 from the
      University of La Plata. He has been in the academy for more than 10 years,
      teaching numerous courses (both at the University and in private
      companies) and working at LIFIA, a research laboratory. In 2011 he moved
      to the industry where he has been mainly focused on web applications.
    </p>

    <p>
      Andrés loves to write beautiful code and enjoys working on pure
      implementation of programming paradigms, such as Smalltalk in the case
      of OOP or Haskell for FP. He also enjoys learning new technologies and
      languages, working with agile methodologies and listening to (almost)
      all sorts of music.
    </p>    
  </div>
</div>
