---
  date: 01/10/2014
---

<%= image_tag("team/javi-thumbnail.jpg", :alt => "Javier",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Javier Choclin</h3>

  <div class="person-links">
    <a href="http://www.github.com/basicNew" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Javier is completing his final year of his Masters of Science Degree in
      Electrical Engineering at the University of Buenos Aires.
      He has been developing drones for almost two years, but he likes designing
      robots in general which involves programming and hardware design.
    </p>

    <p>
      He is very fond of robots, 3D printing, Open Software and Hardware.
    </p>    
  </div>
</div>
