---
  date: 01/11/2014
---

<%= image_tag("team/jess-thumbnail.jpg", :alt => "Jessica",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Jessica Jackson</h3>

  <div class="person-links">

  </div>

  <div class="person-bio">
    <p>
      Jessica has 12+ years of experience in usability, design and project management.
      Her passion is getting useful things built.
    </p>

    <p>
      Jessica has a CS degree from University of Illinois at Urbana-Champaign and 
      Masters in Human-Computer Interaction from DePaul University.
    </p>
  </div>
</div>
