---
  date: 01/06/2012
---

<%= image_tag("team/lu-thumbnail.jpg", :alt => "Lucas",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Lucas Chiesa</h3>

  <div class="person-links">
    <a href="http://www.linkedin.com/in/lucaschiesa" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      He is passionate about learning something new and challenging every day.
      Lucas is a MSEE from the University of Buenos Aires. His interest in
      robotics has led him to establish a highly successful Robotics Club in his
      university many years ago and more recently to work as a researcher in the
      AIS lab, Freiburg. His electronic background, expertise in embedded systems
      (from 8 bit to Embedded Linux) and love for robotics greatly complement
      his devotion to Open Source software and hardware.
    </p>

    <p>
      Besides his work, he enjoys a good movie, theater, music, traveling,
      and the occasional side project which every hacker has :)
    </p>
  </div>
</div>
