---
  date: 15/10/2014
---

<%= image_tag("team/luis-thumbnail.jpg", :alt => "Luis",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Luis Bosch</h3>

  <div class="person-links">
    <a href="https://ar.linkedin.com/pub/luis-bosch/1a/b3/3a6" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://www.facebook.com/ehhluigi" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
     Luis is an Electrical/Electronic Engineer from the Catholic University of Cordoba (UCC), graduated in 2009.
     He's always had a knack for computers, which led him to get involved in projects involving technology, both hardware 
     and software, and choose the path that he did. 
</p>
<p>
       His latest projects have involved full stack development of web applications
       for real time data processing. 
    </p>
    <p>
       In his free time, he enjoys practicing and teaching Taekwon-Do 
       and jamming with his metal band.
    </p>
  </div>
</div>
