---
  date: 15/10/2014
---

<%= image_tag("team/mich-thumbnail.jpg", :alt => "Michel",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Michel Hidalgo</h3>

  <div class="person-links">

  </div>

  <div class="person-bio">
    <p>
      Michel is an Electrical Engineering student from the National Technologic
      University. Passionate about human knowledge as a whole, but daily committed 
      to STEM fields, he's always eager to learn and work on new projects.
    </p>

    <p>
      In his free time, if not spent with his family or friends, he likes to watch 
      a good movie and play his old guitar. 
    </p>
  </div>
</div>
