---
  date: 15/10/2014
---

<%= image_tag("team/mich-thumbnail.jpg", :alt => "Michel",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Michel Hidalgo</h3>

  <div class="person-links">

  </div>

  <div class="person-bio">
    <p>
      Michel is an Electrical Engineering student from the National Technologic University.
      He is passionate about human knowledge as a whole, specially when it comes to STEM fields,
      physics and engineering being his first choice.
    </p>
    <p>
      He's a fast learner: in a couple months, he picked up with ROS, Gazebo, Grunt, AngularJS,
      Docker and Ansible technologies to name a few, consistently delivering value to customers
      when simulating, building, interfacing or deploying their robotic solutions.
    </p>
    <p>
      In his free time, if not spent with his family or friends, he likes to watch 
      a good movie and play his old guitar. 
    </p>
  </div>
</div>
