---
  date: 10/10/2014
---

<%= image_tag("team/pablo-thumbnail.jpg", :alt => "Pablo",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Pablo Rodriguez Manzi</h3>

  <div class="person-links">
    <a href="http://www.facebook.com/pablisho.racing" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a href="http://www.github.com/pablisho" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Pablo is a Computer Engineering and Electrical Engineering student from
      the University of Buenos Aires. He is a teaching assistant in Linear Algebra
      and Probability and Statistics. He has 3+ years of experience programming in
      Java and C++. In the past year he's been putting his love of math and
      algorithms to use in developing augmented reality applications with Android
      and Project Tango.
    </p>
    <p>
      Apart from being passionate about software development, Pablo is really
      interested in calculus, probability theory and physics.
    </p>
    <p>
      In his free time, he likes playing soccer and reading a good book.
    </p>
  </div>
</div>
