---
  date: 03/01/2012
---

<%= image_tag("team/pato-thumbnail.jpg", :alt => "Patricio",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Patricio Reyna Almandos</h3>

  <div class="person-links">
    <a href="https://ar.linkedin.com/in/reynaalmandos" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://twitter.com/patricioreyna" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Patricio is a partner at Ekumen with more than 15 years in the industry
      and a software engineer who hails from La Plata, Argentina. He has
      experience working in small companies as well as very large ones. Besides
      being a software engineer, he also likes working as a people manager and
      leading teams.
    </p>
    <p>
      Patricio is passionate about soccer and a supporter of Estudiantes de La
      Plata club. He loves using/designing/creating software and being involved
      in projects that could help improve the world we live in, as well as
      traveling to open his mind. 
    </p>
    <p>
      Last but not the least, he is a really fun person to talk to :)
    </p>
  </div>
</div>
