---
  date: 01/11/2013
---

<%= image_tag("team/santi.jpg", :alt => "Santiago",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Santiago Borrazás</h3>

  <div class="person-links">
    <a href="http://www.linkedin.com/in/sanbor" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a href="https://twitter.com/sanbor" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a href="http://www.github.com/sanbor" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
  </div>

  <div class="person-bio">
    <p>
      Santiago is a web developer with many years of experience (he used to
      make websites work on IE6), but over time he wanted to know more deeply
      how computers - and its components - works, and decided to start pursuing
      a CS degree.
    </p>

    <p>He also likes art, design and movies.</p>
  </div>
</div>
