---
  date: 15/10/2014
---

<%= image_tag("team/santi-thumbnail.jpg", :alt => "Santiago",
  :class => "person-picture img-thumbnail pull-left") %>

<div class="person-desc">
  <h3 class="person-name">Santiago Avalos</h3>

  <div class="person-links">

  </div>

  <div class="person-bio">
    <p>
      Santiago graduated as a Computer Science Licentiate at the University
      of Córdoba (FaMAF - UNC), and his great passions are programming and
      music. Before working in industry, he dedicated himself to academic
      research and teaching, specializing in the fields of Artificial
      Intelligence and Algorithms. To this day, he continues his involvement
      with UNC as a professor.
   </p>
   <p>  
      His interest in games led him to work for two indie game startups as
      adeveloper and designer. Within industry, Santiago focuses on web
      applications and user interfaces.
    </p>

    <p>
      In his free time, he enjoys practicing sports, making music, or listening to a good album.
    </p>
  </div>
</div>
