---
title: Android developers to work with virtual 3D worlds on mobile devices  - Jobs
layout: page
---

<h2>Android developers to work with virtual 3D worlds on mobile devices </h2>

<div class="row">
  <div class="col-sm-8">
    <p>Ekumen is looking for Android developers to participate in building virtual and augmented reality applications with the <a href="https://www.google.com/atap/project-tango/" target="blank">Google Tango device</a>. Projects are part of greater efforts conducted jointly with the creators of the technology doing work that has immediate impact on real problems for an international audience.
    </p>

    <p>We are seeking people passionate about technology with the desire to learn, confront unusual challenges, and push their skills to the highest level.
    </p>

    <p>The work environment is fast-paced, iterative and open. Active participation is encouraged and rewarded. You will be working with the latest generation of technology and immersed in multi-cultural team of highly-talented engineers and researchers.
    </p>
  </div>

  <div class="col-sm-4" id="job1">
  </div>
</div>

<div class="row">

  <div class="col-sm-4" id="job2">
  </div>

  <div class="col-sm-8">
    <h3>About you:</h3>

    <ul>
      <li>Love technology and enjoy getting your hands dirty creating new tech.</li>
      <li>Thrive in a fast-paced environment, working closely with smart colleagues on challenging technology problems.</li>
      <li>Enjoy learning new tools, frameworks, programming languages and paradigms.</li>
      <li>Can tackle mid-sized software development tasks independently and deal with ambiguous task assignments.</li>
      <li>Speak English fluently enough to work comfortably in an English-speaking environment.</li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-sm-8">
    <h3>It’d be nice if you had experience with:</h3>

    <ul>
      <li>Java, C++, development of multithreading applications for Android.</li>
      <li>Development for augmented reality, virtual reality, computer vision, OpenGL.</li>
      <li>Git, github, UNIX/Linux, CMake, bash scripting, Google Drive, Google Hangouts.</li>
      <li>Actively contributing to open source projects.</li>
      <li>Participating in competition, research projects, conferences and groups of interest in related areas.</li>
    </ul>
  </div>

  <div class="col-sm-4" id="job3">
  </div>
</div>

<p>We will for sure also consider candidates that don't have experience with these particular technologies but are eager to learn them. We take into account software development experience, growth potential and cultural match for our candidates. We’re a friendly, fun-loving bunch and expect the same from you!</p>
</br>
<p> <b> If you'd like to join Ekumen, send us an email to <a href="mailto:jobs@ekumenlabs.com">jobs@ekumenlabs.com</a>. Tell us a bit about yourself, why you're interested in the position, and don’t forget to include a CV in English!</b>
</p>

<div class="alert alert-success">
  This position is open to working in Ekumen's Buenos Aires office or remotely.
</div>

