---
title: Roboticist for simulation project - Jobs
layout: page
---

<h2>Roboticist for simulation project</h2>

<div class="roboticist-job" >
  <div class="row">
    <div class="col-sm-8">
      <p>Ekumen is looking for roboticists or software developers to participate
        in building robot simulations using <a href="http://gazebosim.org/"
        target="blank">Gazebo</a>. The project is part of greater efforts
        conducted jointly with the creators of the technology doing work that has
        immediate impact on real robots for an international audience.
      </p>

      <p>We are seeking people passionate about technology with the desire to
        learn, confront unusual challenges, and push their skills to the highest
        level.
      </p>

      <p>The work environment is fast-paced, iterative and open. Active
        participation is encouraged and rewarded. You will be working with the
        latest generation of technology and immersed in multi-cultural team of
        highly-talented engineers and researchers.
      </p>
    </div>

    <div class="col-sm-4 top-right-image" >
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4 middle-left-image">
    </div>

    <div class="col-sm-8">
      <h3>About you:</h3>

      <ul>
        <li>Have demonstrable experience in Gazebo and/or ROS</li>
        <li>Love technology and enjoy getting your hands dirty creating new tech</li>
        <li>Thrive in a fast-paced environment, working closely with smart
          colleagues on challenging technology problems</li>
        <li>Enjoy learning new tools, frameworks, programming languages and
          paradigms</li>
        <li>Can tackle mid-sized software development tasks independently and deal
          with ambiguous task assignments</li>
        <li>Speak English fluently enough to work comfortably in an
          English-speaking environment</li>
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12">
      <h3>It’d be nice if you had experience with:</h3>
      <ul>
        <li>Writting Gazebo plugins</li>
        <li>C++, python, MoveIt!, Docker, Jenkins</li>
        <li>Git, github, UNIX/Linux, CMake, bash scripting, Google Drive,
          Google Hangouts</li>
        <li>Actively contributing to open source projects</li>
        <li>Participating in competition, research projects, conferences and
          groups of interest in related areas</li>
      </ul>
    </div>
  </div>

  <p>
    We will for sure also consider candidates that don't have experience with
    these particular technologies but are eager to learn them. We take into
    account software development experience, growth potential and cultural match
    for our candidates. We’re a friendly, fun-loving bunch and expect the same
    from you!
  </p>
  </br>
  <p>
    <b>
      If you'd like to join Ekumen, send us an email to
      <a href="mailto:jobs@ekumenlabs.com">jobs@ekumenlabs.com</a>. Tell us a
      bit about yourself, why you're interested in the position, and don’t
      forget to include a CV in English!
    </b>
  </p>

  <div class="alert alert-success text-center">
    This position is open to working in Ekumen's Buenos Aires office or remotely
  </div>
</div>
