---
title: Web developer for service robotics start-up - Jobs
layout: page
---

<h2>Web developer for service robotics start-up</h2>


<p>Ekumen in partnership with <a href="http://www.savioke.com" target="blank">Savioke</a> is looking for a
  full-stack Web Developer with experience in server-side JavaScript to participate in
  the development of a first-of-its-kind service robotics product.
</p>

<p>
The selected candidate will be part of a globally distributed team with headquarters in
Sunnyvale, CA and will be responsible for the development of client- and server-side
components of the high-level integration and user interface aspects of the robotics system.
</p>

<p>
The work environment is fast-paced, iterative and open. Active participation is encouraged
and rewarded. The team is a multi-cultural mix of highly-talented engineers and researchers.
</p>

<h3>Target candidates:</h3>

<p>The ideal match for our team is someone who:</p>

<ul>
  <li>Loves technology and enjoys getting his/her hands dirty creating technology or dealing with anything that stands in the way.</li>
  <li>Thrives in a fast-paced environment, working hand-in-hand with smart colleagues on challenging technology problems with ambitious deadlines.</li>
  <li>Enjoys learning new tools, frameworks, programming languages and paradigms as necessary.</li>
  <li>Can tackle mid-sized software development tasks independently and deal with ambiguous task assignments.</li>
  <li>Speaks English fluently enough to work comfortably in an English-speaking environment.</li>
</ul>

<p>In terms of technology skills the more of these the candidate brings, the better:</p>

<ul>
  <li>Experience working the full stack of a Web application.</li>
  <li>Server-side JavaScript experience, particularly <a href="http://www.meteor.com" target="blank">Meteor</a> and <a href="http://nodejs.org" target="blank">Node.js</a>.</li>
  <li>Front-end JavaScript and frameworks (jquery, foundation, requirejs, underscore, handlebars, socket.io).</li>
  <li>UNIX/Linux, scripting (bash, python, perl), networking, system administration.</li>
  <li>Experience working with git, github, jenkins, trello, hipchat, Google Drive, Google Hangouts.</li>
  <li><a href="http://www.ros.org" target="blank">ROS</a>, particularly the <a href="http://robotwebtools.org/" target="blank">RobotWebTools</a> project.</li>
</ul>

<p>We will however consider candidates that don't have experience with these particular technologies but are eager to learn them. We will also take into account general experience, growth potential and cultural match for our candidates.</p>

<div class="alert alert-success">
  This position is open to working in the Ekumen's Buenos Aires office or remotely.
</div>
