.contactInfo {
  top: 0;
}

/* Don't affix on mobile */
@media (max-width: 991px) {
  .contactInfo.affix {
    position: static;
    width: auto;
  }
}
.contactInfo.affix-bottom {
  position: absolute;
}

#ekumenOfficeMap {
  height: 180px;
}
