---
title: Blog
layout: page
---

<h1>Blog</h1>

<% blog.articles[0...5].each do |article| %>
  <article>
    <h1>
      <%= link_to article.title, article.path %></a>
      <small><%= article.date.strftime('%B %e, %Y') %></small>
    </h1>

    <p><%= article.summary %></p>

    <p><%= link_to "Read more &#8594;", article.path %></p>
  </article>
<% end %>
