---
title: Jobs
meta_description: Work with us!
layout: page
blog: Jobs
---

<h1>Jobs</h1>

<p>
  Here at Ekumen we value technical talent and creativity more than anything else. We are not interested in creating an outsourcing empire nor on recruiting developers to sit all day tweaking CSS styles for customers: our goal is to stay a focused, world-class software development team, tackling interesting technology challenges in partnership with a variety of leading-edge technology-oriented startups.
</p>

<p>
  We offer a modern, informal work environment, flexible work arrangements and competitive compensation. But most importantly, we offer the opportunity to participate in leading-edge technology projects aimed at an international audience, exciting challenges and the opportunity to learn something new every day.
</p>

<p>
  Join us at Ekumen and become part of a team of highly-talented developers working together with the most vibrant Silicon Valley startup culture.
</p>

<h2>Available positions</h2>
<ul>
  <li>
    <%= link_to "Android developers to work with virtual 3D worlds on mobile devices", "android/" %>
  </li>
  <li>
    <%= link_to "Roboticist for simulation project", "roboticist/" %>
  </li>
  <li>
    <%= link_to "Web developer for service robotics start-up", "web/" %>
  </li>
</ul>

<p>
  If you think you're a good fit to the company but you don't see an open position
  for your qualification, please ping us at
  <a href="mailto:jobs@ekumenlabs.com">jobs@ekumenlabs.com</a>.
</p>
