---
title: Team
meta_description: Ekumen team
blog: team
layout: page
---

<h1>Meet the team</h1>

<%= image_tag("team/everybody.jpg", :alt => "Ekumen team",
  :class => "img-responsive") %>

<% blog.articles.reverse_each do |teammate| %>
  <div class="person-container clearfix">
    <%= teammate.body %>
  </div>
<% end %>
